@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap');

//colors
$clr-black: #111111;
$clr-white: #ffffff;

$clr-beaver: #9e7f66;
$clr-mirage: #17192b;
$clr-ebony-clay: #242b37;
$clr-shuttle-gray: #5c6779;
$clr-dark-gray: #4c4c4c;

$clr-primary: $clr-beaver;
$clr-secondary: $clr-mirage;
$clr-accent: $clr-shuttle-gray;

$fs-h1: 4rem; // 64px
$fs-h2: 2.5rem; // 40px
$fs-h4: 0.875rem; // 14px

$fs-body: 1.125rem; // 18px
$fs-text: 0.9375rem; // 15px

$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

$spacing-small: 0.75rem; // 12px
$spacing-normal: 1rem; // 16px
$spacing-medium: 1.5rem; // 24px
$spacing-large: 2rem; // 32px
$spacing-xlarge: 2.5rem; // 40px
$spacing-xxlarge: 4rem; // 64px

$bp-mobile: '600px';
$bp-small: '767px';
$bp-tablet: '768px';
$bp-laptop: '1024px';
$bp-desktop: '1200px';

@import '/styles/globals';

// header
header {
  background-color: $clr-black;
  background-image: url(/images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 14rem 0 2.5rem;

  .hero-content {
    p {
      color: $clr-white;
      text-transform: inherit;
      line-height: 1.667;
      letter-spacing: -0.4px;
      max-width: 20.3125rem; //325px
      margin: 0 auto 1rem;
    }
  }
  @media screen and (min-width: $bp-mobile) {
    background-image: url(/images/hero-bg-tablet.jpg);
  }
  @media screen and (min-width: $bp-desktop) {
    padding: 2.5rem 0;
    background-image: url(/images/hero-bg-desktop.jpg);
    background-position: right;
    .container {
      display: grid;
      grid-template-columns:
        minmax(1rem, 1fr) minmax(30.3125rem, 1fr) 7.8125rem minmax(
          30.3125rem,
          1fr
        )
        minmax(1rem, 1fr);
    }
    .hero-content {
      grid-column: 2;
      text-align: left;
      .logo {
        margin-bottom: 9.5625rem; //153px
      }
      p {
        margin-left: 0;
        margin-bottom: 2rem;
      }
    }
  }
}
section {
  padding: ($spacing-xlarge * 2) 0;
}
// main
main {
  text-align: center;
  padding-bottom: 0;
}

@import '/styles/menu';
@import '/styles/family-gathering';
@import '/styles/reservation';

// footer
footer {
  background: $clr-black;
  padding: ($spacing-xlarge * 2) 0;
  color: $clr-white;
  .logo {
    margin-bottom: $spacing-xlarge;
  }
  p {
    color: $clr-white;
  }
  @media screen and (min-width: $bp-desktop) {
    .container {
      display: grid;
      grid-template-columns: minmax(1rem, 1fr) repeat(3, minmax(23rem, 1fr)) minmax(
          1rem,
          1fr
        );
    }
    .logo {
      margin-bottom: 2.5rem;
      grid-column: 2;
    }
    .address,
    .open-hours {
      text-align: left;
    }
  }
}
p {
  font-size: $fs-h4;
  font-weight: $fw-regular;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 2px;
}
