.about {
  padding: 0;
  margin-top: -6.5rem;

  .container,
  &__intro {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .img {
    margin-bottom: 2.25rem;
  }
  &__intro {
    flex-direction: column;
    h2 {
      font-size: 2rem;
      line-height: 1.25;
    }
  }
}
@media screen and (min-width: $bp-laptop) {
  .about {
    margin-bottom: -6.5rem;
    
    .container {
      display: grid;
      row-gap: 3rem;
    }
    .img {
      grid-row: 2;
      grid-column: 3/5;
      position: relative;
      margin-bottom: 0;
    }
    &__intro {
      grid-column: 1;
      grid-row: 2;
      text-align: left;
      max-width: 27.8125rem;
    }
    .lines {
      bottom: 50%;
      right: 0.125rem;
      top: inherit;
      left: inherit;
    }
    .abstract {
      align-self: flex-start;
    }
    .container {
      align-items: center;
    }
    .container:nth-child(1) {
      .img {
        grid-column: 1;
        grid-row: 2;
      }
      .about__intro {
        grid-column: 4;
      }
    }
  }
}
