// footer
footer {
  background: $clr-black;
  padding: ($spacing-xlarge * 2) 0;
  color: $clr-white;
  .logo {
    margin-bottom: $spacing-xlarge;
  }
  p {
    color: $clr-white;
  }
  @media screen and (min-width: $bp-desktop) {
    .logo {
      margin-bottom: 2.5rem;
      grid-column: 1;
      grid-row: 1;
    }
    .address,
    .open-hours {
      text-align: left;
    }
    .address {
      grid-column: 1;
      grid-row: 1;
      justify-self: flex-end;
    }
    .open-hours {
      grid-column: 4;
      padding-left: 5.9375rem;
    }
    p {
      margin-bottom: 0;
    }
  }
}
