// header
header {
  background-color: $clr-black;
  background-image: url(/images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 14rem 0 2.5rem;
  min-height: 50vh;
  .logo {
    text-align: left;
  }
  .hero-content {
    p {
      color: $clr-white;
      text-transform: inherit;
      line-height: 1.667;
      letter-spacing: -0.4px;
      max-width: 20.3125rem; //325px
      margin: 0 auto 1rem;
    }
    button {
      margin-bottom: 128px;
    }
  }

  @media screen and (min-width: $bp-mobile) {
    background-image: url(/images/hero-bg-tablet.jpg);
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 2.5rem 0;
    background-image: url(/images/hero-bg-desktop.jpg);
    background-position: right;
    .hero-content {
      grid-column: 1;
      text-align: left;
      .logo {
        margin-bottom: 9.5625rem; //153px
      }
      p {
        margin-left: 0;
        margin-bottom: 2rem;
      }
    }
  }
}
