// header custom
header.custom-header {
  background-color: $clr-black;
  background-image: url(/images/reservations-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3.5rem 0;
  height: 90vh;

  .logo {
    margin-bottom: $spacing-xlarge; //40px
    justify-self: flex-start;
  }
  .reservations-content {
    h1 {
      color: $clr-white;
      margin-bottom: $spacing-medium;
      line-height: 1.25;
      letter-spacing: -0.4px;
      font-size: 2rem;
      font-weight: $fw-light;
    }
    p {
      color: $clr-white;
      text-transform: inherit;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.667;
      letter-spacing: -0.23px;
      max-width: 27.8125rem; //445px
      margin: 0 auto $spacing-medium;
    }
    button {
      margin-bottom: 128px;
    }
  }
  @media screen and (min-width: $bp-mobile) {
    height: auto;
    min-height: 50vh;
    background-image: url(/images/reservations-bg-tablet.jpg);
  }
  @media screen and (min-width: $bp-desktop) {
    padding: 2.5rem 0;
    background-size: cover;
    background-image: url(/images/reservations-bg-desktop.jpg);

    .container {
      grid-template-rows: auto 9.5625rem 330px;
    }
    .reservations-content {
      grid-column: 1;
      text-align: left;
      grid-row: 3;
      align-self: start;
      p {
        margin-bottom: 0;
      }
      .logo {
        margin-bottom: 9.5625rem; //153px
      }
      p {
        margin-left: 0;
        margin-bottom: 7.8125rem;
      }
    }
  }
}
