// menu section
.menu {
  background: $clr-black;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  * {
    color: $clr-white;
    text-transform: inherit;
  }
  h2 {
    font-size: $spacing-large;
    letter-spacing: -0.4px;
  }
  @media screen and (min-width: $bp-tablet) {
    h2 {
      font-size: $fs-h2;
      line-height: $spacing-xlarge;
    }
    .menu-item {
      &__img {
        flex-basis: 40%;
        position: relative;

        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 18px;
          right: 0;
          width: 32px;
          height: 1px;
          background: $clr-primary;
          transform: translateX(100%);
        }
      }
    }
  }
  @media screen and (min-width: $bp-laptop) {
    padding-top: 14.5rem;
    .container {
      display: grid;
      justify-items: left;
    }
    h2 {
      line-height: 3.5rem;
      letter-spacing: -0.5px;
    }
    &__intro {
      grid-column: 1;
      grid-row: 1;
      text-align: left;
      max-width: 27.8125rem;
      align-self: baseline;
    }
    .menu-list {
      grid-row: 1;
      grid-column: 3 / 5;
    }
    .menu-item {
      display: flex;
      img {
        align-self: start;
      }
      &__content {
        padding-left: $spacing-xxlarge;
        text-align: left;
      }
      &__desc {
        padding-left: 0;
      }
    }
  }
}
.text {
  font-size: $fs-text;
  margin-bottom: $spacing-xxlarge;
  line-height: 25px;
}
.menu-item {
  margin-bottom: 3rem;
  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto $spacing-large;
  }
  &__title {
    font-size: $fs-body;
    font-weight: $fw-bold;
    margin-bottom: 4px;
  }
  &__desc {
    margin-bottom: 25px;
    line-height: 28px;
    letter-spacing: -0.19px;
    font-size: $fs-text;
    padding: 0px 20px;
  }
}
.abstract {
  grid-column: 2;
  display: flex;
  align-items: center;
  margin-bottom: 48px;

  &__stroke {
    display: block;
    width: 56px;
    height: 0.075rem;
    background: $clr-primary;
    margin-left: 8px;
  }
  &__circle {
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid $clr-primary;
  }
}
