// menu section
.menu {
  background: $clr-black;
  @media screen and (min-width: $bp-laptop) {
    padding-top: 12.5rem;
    .container {
      display: grid;
      display: grid;
      grid-template-columns:
        1rem minmax(25.3125rem, 1fr) minmax(25.3125rem, 1fr)
        1rem;
      gap: 3rem;
      justify-items: left;
    }
    .menu__intro {
      grid-column: 2;
    }
    .menu-list {
      grid-row: 1;
      grid-column: 3;
    }
    .menu-item {
      display: flex;
      img {
        margin-bottom: 0;
        align-self: start;
      }
      &__content {
        padding-left: $spacing-xxlarge;
        text-align: left;
      }
      &__desc {
        padding-left: 0;
      }
    }
  }
  * {
    color: $clr-white;
    text-transform: inherit;
  }
  h2 {
    line-height: $spacing-xlarge;
    letter-spacing: -0.4px;
  }
}
.text {
  font-size: $fs-text;
  margin-bottom: $spacing-xxlarge;
  line-height: 25px;
}
.menu-item {
  margin-bottom: 3rem;
  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  img {
    max-width: 100%;
    margin: 0 auto $spacing-large;
  }
}
.menu-item__title {
  font-size: $fs-body;
  font-weight: $fw-bold;
  margin-bottom: 4px;
}
.menu-item__desc {
  margin-bottom: 25px;
  line-height: 28px;
  letter-spacing: -0.19px;
  font-size: $fs-text;
  padding: 0px 20px;
}
