.reservations-section {
  position: relative;
  padding: 0;
  height: 20rem;
  min-height: 30rem;
  .container {
    grid-template-rows: repeat(3, 1fr);
  }
  .lines {
    position: relative;
    top: inherit;
    left: inherit;
    grid-column: 2 / span 2;
    grid-row: 3;
    justify-self: flex-end;
  }
}

form {
  position: relative;
  z-index: 10;
  height: auto;
  width: 100%;
  padding: 2rem;
  box-shadow: 0 75px 100px -50px #384255;
  background: $clr-white;
  display: flex;
  flex-direction: column;
  margin-top: -4rem;

  > *:not(button) {
    margin-bottom: 2rem;
  }
  select {
    color: #151515;
    font-size: $fs-body;
    font-weight: $fw-bold;
    text-align: center;
  }
}
input {
  font-size: $fs-body;
  line-height: 1.556;
  font-weight: $fw-regular;
  letter-spacing: -0.23px;
  color: $clr-black;
}
input,
select {
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid $clr-black;
}
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
}
.form-group {
  position: relative;
}
.error {
  input {
    color: $clr-error;
    opacity: 0.5;
  }
  ::placeholder {
    color: $clr-error;
  }
  input:focus {
    outline-color: $clr-error;
    outline: none;
    border-color: $clr-error;
  }
}

.form-error {
  margin-top: 10px;
  font-size: 10px;
  font-weight: $fw-regular;
  letter-spacing: 0.13px;
  color: $clr-error;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  text-align: left;
  text-transform: inherit;
}
// modal
.ReactModal__Overlay--after-open {
  z-index: 15;
}
.ReactModal__Content {
  p {
    text-transform: inherit;
    color: $clr-white;
    margin-bottom: 0;
  }
}

@media screen and (min-width: $bp-tablet) {
  .reservations-section {
    min-height: inherit;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: $clr-shuttle-gray;
      opacity: 0.08;
      height: 320px;
      width: 60vw;
      z-index: -1;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
    }
  }
}
@media screen and (min-width: $bp-laptop) {
  form {
    grid-column: 3 / span 2;
    grid-row: 3;
    width: 540px;
    height: 560px;
    padding: 3rem;
    margin-top: 0;
  }

  .reservations-section {
    .container {
      grid-template-rows: repeat(3, 1fr);
    }
    .lines {
      grid-row: 3;
      top: 1rem;
    }
  }
}
